
img {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    filter: brightness(25%);
}



.btn {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.btn button {
    padding: 0.9rem;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: larger;
    color: white;
}

.home-head{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  
  }


.textbox {
    position: absolute;
    bottom: 8rem;
    right: 13rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px;
    border-radius: 5%;
    height: 35%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 200;
}
  
  .panel1{
    padding-top: 10rem;
  }


  