.container{
    width: 70%;
    margin: 4rem auto;
    padding: 40px;
}
.container img{
    width: 60rem;
    height: 40vh;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.2s ease;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible::after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active::after {
    content: '\2212';
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
    background-color: #f1f1f1;
  }
  
  .show {
    max-height: 500px; /* Adjust based on your content's maximum height */
    padding: 18px;
  }
  